@import url("/stylesheets/variables.css");


/* Background body */
#contact {
    background-image: url(/images/imgs-bg-login/teclado-original.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;
    font-family:var(--font-Quicksand);
    text-align: center;
}

/* Title: Iniciar Sesión */
#contact h1 {
    font-size: 38px;
    color: var(--color-Green);
    padding-top: 15px;
    margin-bottom: 15px;
}

#contact .arrow-left {
    color: var(--color-Green);
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 20px;
}

/* form */
#contact form {
    background-color: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(4px);
    border: 1px solid var(--color-Green);
    border-radius: 30px;
    max-width: 290px;
    /* width: 90%; */
    margin: 0 auto;
}

#contact form .container-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

#contact input {
    display: block;
    background-color: var(--color-Dark);
    border: 1px solid black;
    color: white;
    outline: none;
}

#contact form .container-form .email {
    border: black;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 25px;
    /* padding: 12px 45px 12px 5px; */
    padding: 12px 0 12px 5px;
    width: 90%;
    text-align: initial;
} 

#contact form .container-form .text {
    border: black;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 25px;
    padding: 12px 0 12px 5px;
    width: 90%;
    text-align: initial;
}

/* message */

#contact .container-form .message {
    background-color: var(--color-Dark);
    border: 1px solid black;
    color: white;
    display: block;
    outline: none;
    resize: none;
}

#contact form .container-form .message {
    border: black;
    border-radius: 10px;
    font-size: 17px;
    font-family: var(--font-Quicksand);
    margin-bottom: 25px;
    padding: 8px 0px 185px 6px;
    text-align: initial;
    font-weight:bold;
    width: 90%;
}

/* Buttons: log in & create account */
#contact .button-send {
    background-color: var(--color-Dark-Gray);
    border-color: var(--color-Green);
    border-radius: 30px;
    color: white;
    font-size:23px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 9px 16px;
}

#contact .button-send:hover {
    background-color: var(--color-Green);
    color: black;
}


/* media queries Tablet */

@media (min-width:768px) {
    #contact {
        background-position-y: 12%;
    }
    #contact h1 {
        font-size: 48px;
        padding-top: 20px;
        margin-bottom: 22px;
    }

    #contact .arrow-left {
        color: var(--color-Green);
        font-size: 35px;
        position: absolute;
        left: 30px;
        top: 30px;
    }

    #contact form {
        max-width:420px;
        /* max-width: 60%; */
    }

    #contact form .container-form {
        padding-top: 10%;
    }

    #contact form .container-form .email {
        font-size: 23px;
        margin-bottom: 25px;
    } 
    
    #contact form .container-form .text {
        font-size: 23px;
        margin-bottom: 25px;
    }

    /* message */

    #contact form .container-form .message {
    
    font-size: 23px;
    margin-bottom: 25px;
    padding: 8px 8px 185px 6px;
    text-align: initial;
    font-weight:bold;
    }
}



/* media queries Desktop */

@media (min-width:1024px) {
    #contact {
    background-image: url(/images/imgs-bg-login/teclado-original.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;
    font-family:var(--font-Quicksand);
    text-align: center;
    background-size: cover;
}

    #contact h1 {
        font-size: 60px;
        padding-top: 40px;
        margin-bottom: 35px;
    }

    #contact .arrow-left {
        display: none;
    }

    #contact form {
        /* max-width:700px; */
        max-width: 50%;
    }

    #contact form .container-form {
        padding-top: 5%;
    }

    #contact form .container-form .email {
        font-size: 23px;
        margin-bottom: 25px;
        width: 90%;
    } 
    
    #contact form .container-form .text {
        font-size: 23px;
        margin-bottom: 25px;
        width: 90%;
    }

    /* message */

    #contact form .container-form .message {
    padding: 8px 8px 280px 6px;
    text-align: initial;
    font-weight:bold;
    width: 90%;
    }
}










