@import url(/stylesheets/general.css);

  /* BARRA DE NAVEGACION */
  .nav-container{
    align-items: center;
    background-color: var(--dark-grey);
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    width: 100%;
  }

/* BURGUER MENU */
.nav-container .burguer-menu{
  align-items: center;
  cursor: pointer;
  border: solid 1px var(--black);
  border-radius: 10px;
  color: var(--green);
  display: flex;
  font-size: 25px;
  height: 25px;
  justify-content: center;
  margin: 10PX;
  padding: 20px;
  width: 25px;
}

 .nav-container .burguer-menu:hover {
  background-color: var(--green);
  color: var(--black);
}

/* MENU DESPLEGABLE MOBILE */
 .menu-container {
  background-color: var(--dark-grey);
  margin-left: -100%;
  position: absolute;
  transition: all 0.5s;
  width: 200px;
  z-index: 10;
}

.menu-container .menu__link {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items:center;
  color: var(--green);
  font-size: 1.5em;
  text-decoration: none;
  border: solid 1px var(--black);
  
}

.menu-container .menu__link:hover {
  background-color: var(--green);
  color: var(--black);
}

.menu-container ul .menu{
  padding: 0;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--grey);
}
.menu-container ol ul {
  padding: 0;
}

.mostrar{
  margin-left: 0px;
}
/* FIN MENU DESPLEGABLE MOBILE */

/* BARRA DE BUSQUEDA */
.search-bar {
  background-color: var(--dark-grey);
  align-items: center;
  
  display: flex;
  
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  
  width: 80%;
}

form{
  width: 100%;
  background: var(--dark-grey);
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .search-bar .input-search {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--white)
  
}

.search-bar .btn-search {
  background-color:transparent;
  border: none;
  color: var(--green);
  cursor: pointer;
  margin-right: 10px;
  

}

/* FIN BARRA DE BUSQUEDA */

/* LOGO */
.nav-container .logo-nav-container {
  margin: 10px;
}
.nav-container .logo-nav-container .logoNT {
  position: relative;
  top: 2px;
  width: 36px;
}
/* FIN LOGO */

/* CARRITO DE COMPRA */
/* btn abrir carrito */
.btn-open-cart {
  background-color: transparent;
  border: none;
  position: relative;
  margin-right: 10px; 
  cursor: pointer;
}
/* icono de carrito */
.nav-container .icon-chest {
  width: 40px;
  height: 40px;
}
/* contenedor de carrito */
.cart-container{
  width: 300px;
  height: auto;
  background-color: #363636;
  right: 0px;
  transition: 1s;
  z-index: 1000;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  position:absolute;
  clip-path: inset(0 0 0 100%);
}
/* btn cerrar carrito */
.cart-container .btn-close-cart{
  color: var(--green);
  font-size: 2em;
  background: transparent;
  border:none;
  cursor: pointer;
  height: 20px;
  position: relative;
  display: flex;
  top: -20px;
  align-items: flex-start;
}
.cart-container .cdc {
  border-bottom: solid 3px var(--green);
  padding-bottom: 5px;
  color: var(--green);
  font-size: 1.1em;
}
.cart-container .ldc {
  color: var(--green);
  font-size: 1em;
  margin: 0 auto;
  position: relative;
  top:10px;
  padding: 0 5px;
  background-color: var(--grey);
  width: fit-content;
}
/* contenedro de productos */
.cart-container .product-container {
  border: solid 1px black;
  padding: 35px 45px ;
}
/* carrito abierto */
.open-cart{
  clip-path: inset(0 0 0 0);
  display: flex;
  transition: 1s;
}
.btn-add{
  margin-top: 20px;
  border-radius: 50px;
  border: solid 1px var(--green);
  
}

ul  {
  padding-left: 0 !important;
  margin: 0 !important;
}
/* no borrar esto evita que se rompa el nav */

@media(min-width:1024px) {
  .nav-container .burguer-menu{
    display: none;
  }
  .menu-container{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-container .menu{
    display: flex;
    width: 100%;
    background-color: var(--dark-grey);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    top: -2px;
    position: absolute;

  }
  .container-submenu{
    position: relative;
  }
   .menu__link{
    width: 200px;
    height: 30px;
    margin: 0 10px;
    background-color: var(--dark-grey);
    border-radius: 50px;
  }
  
  .nav-container .logo-nav-container .logoNT {
    position: relative;
    top: 0;
    width: 60px;
  }

  .submenu{
    position:absolute;
    width: 200px;
    height: 20px;
    overflow: visible;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark-grey);
  }
  .submenu .menu__link{
    height: auto;
    border-radius: 0;
    background-color: var(--grey);
  }
  
  .container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
  }

  .logo-nav-container {
    order: -1;
  }
  .open-cart{
    margin-top: 65px;
    width: 30%;
    margin-left: 70%;
  }
  .cart-container {
    margin-top: 80px;
  }
  
}