@import url(variables-border.css);

body{
    background-image: url(/images/registro/teclado-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
body div.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div.container header{
    position: relative;
}
body div.container header p{
    text-align: center;
    display: inline;
    font-weight:bold;
    font-size: 30px;
}
body div.container header i{
    left: -50px;    
    top: 10px;
    font-size: 20px;
    position: absolute;
}

body div.container form{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-Green);
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.582);
}
body div.container form input{ 
    display: block;
    padding: 10px 50px;
    margin: 15px 0;
    background-color: var(--color-Dark);
    border-radius: 8px;
    border: 1px solid black;
    color: white;
    outline: none;
}
body div.container form input.submit{
    border: 2px solid var(--color-Green);
    padding: 12px 0;
    border-radius: 20px;
    font-size: 18px;
    width: 120px;
    margin: 10px auto;
}
.submit:active{
    background-color: var(--color-Green);
    color: black;
}
body div.container form input:focus{
    border: 1px solid var(--color-Green);
}

body div.container header{
    color: var(--color-Green);
    margin: 15px 0;
    font-size: 30px;
}

.redes{
    background-color: white;
    color: black;
    padding: 10px 50px;
    margin: 30px 0 0;
}
.networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.networks .logo-face {
    bottom: 40px;
    position: relative;
    right: 82px;
}

.networks .logo-google {
    bottom: 42px;
    position: relative;
    right: 80px;
    width: 32px;
}

.button-facebook {
    background-color: #2b4ca3;
    border:none;
    color: white;
    font-size:13px;
    font-weight: lighter;
    margin-top: 25px;
    padding: 18px 7px 18px 43px;
    position: relative;

}

.button-google {
    background-color: #2095e7;
    border:none;
    color: white;
    font-size:13px;
    font-weight: lighter;
    margin-top: -15px;
    padding: 18px 18px 18px 48px;
}

@media (min-width: 768px){
    body{
        background-image: url(/images/registro/teclado-original.jpg);
    }
}