:root {
    /* Fonts */
    --font-Quicksand: 'Quicksand', sans-serif;
    /* Color */
    --color-Green:#2EDD02;
    --color-Dark:#242424;
    --color-Dark-Gray:#363636;
}                                          