:root {
    /* Fonts */
    --font-Quicksand: 'Quicksand', sans-serif;
    --quicksand: quicksand;
    /* Color */
    --color-Green:#2EDD02;
    --color-Green-Old: #2EDD02;
    --color-Dark:#242424;
    --color-Dark-Gray:#363636;
    --color-White:#f1f1f1;
    --color-Red:#ff0000;
    --black: #000000;
    --white: #ffffff;
    --dark-grey:#242424;
    --green:#2EDD02;
    --grey:#363636;
}                                          

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--quicksand);
    text-decoration: none;
    list-style: none;
}

