<%- include('../partials/head.ejs') %>

<body id="product-list">
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/nav.ejs') %>


    <!-- <form class="form__product" action="" method="">
        <input type="search" placeholder="Buscar producto"><i class="fas fa-search"></i>
    </form>
 -->
    <main class="container__product">


        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="mas carrito" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp ">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar " href="">COMPRAR</a>
            </div>
        </div>


        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="carrito mas" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar" href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="mas carrito" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp ">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar " href="">COMPRAR</a>
            </div>
        </div>


        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="carrito mas" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar" href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="carrito mas" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar" href="">COMPRAR</a>
            </div>
        </div>

        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card">lorem</h2>
                <h2 class="number-card">$000</h2>
                <p class="description-card">lorem ipsum dolor</p>
                <a class="mas carrito" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp ">añadir al carrito</p>
                    </i>
                </a>
                <a class="comprar " href="">COMPRAR</a>
            </div>
        </div>


    </main>

    </html>