<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class= "error__body">
    <div class="error__content">
<h1 class="error__message">NOT FOUND</h1>
<img src="/images/404.svg" alt="">
<p class="link_to_home">
    Página no encotrada <a href="/">click aquí</a> para volver al inicio
</p>
    </div>
    
</body>
</html> -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
