<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/d7f2d4eb0a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/registro.css">

    <title>Registro</title>
</head>
<body>

    <div class="container">         

        <header>
            <i class="fas fa-arrow-left"></i>
            <p>Registro</p>
        </header>

        <form action="/registro" method="POST">

            <input type="name" placeholder="Nombre Completo">

            <input type="email" name="" id="" placeholder="Correo Electrónico">

            <input type="password" name="" id="" placeholder="Contraseña"> 

            <input class="submit" type="submit" value="Registrarse">
        </form>

        <div class="redes">iniciar con</div>
        <div class="redes">iniciar con</div>
        
    </div>
</body>
</html>