#admin-welcome{
    position: absolute;
    top: 0px;
    color: white;
}
#content{
    background-image: url(/images/registro/teclado-original.jpg);
    background-size: cover;
    background-position: center;
}
#top-name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#form-add{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-Green);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.582);
}
#form-add input{
    padding: 10px 10px;
    margin: 5px 0;
    background-color: var(--color-Dark);
    border-radius: 8px;
    border: 1px solid black;
    color: white;
    outline: none;
}
#form-add .submit{
    border: 2px solid var(--color-Green);
    padding: 12px 0px;
    border-radius: 20px;
    font-size: 18px;
    width: 120px;
    margin: 5px auto;
}
.submit:active{
    background-color: var(--color-Green);
    color: black;
}
#form-add input:focus{
    border: 1px solid var(--color-Green);
}

@media (min-width: 768px){
    #content{
        background-image: url(/images/registro/teclado-original.jpg);
    }
}
@media (min-width: 1024px){
    #content{
        background-repeat: no-repeat;
        background-position: 70px;
        background-size: 85%;
        
    }
}
