.admin_user {
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-size: cover;
    background-position: center;
}
#admin-welcome{
    position: absolute;
    top: 80px;
}
.delete-user{
    position: absolute;
    bottom: 340px;
    left: 230px;
    font-size: 40px;
    color: var(--color-Green-Old);
    cursor: pointer;
    background-color: transparent;
    border: none;
    /* top: -50px; */
}
#content{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* CONTENEDOR */
#container{
    width: 100%;
    margin-top: 30vh;
    height: 100vh;
    z-index: 0;
    display: grid;
}
#container-admin{
    color: var(--white);
}
/* BARRA DE BUSQUEDA */
/* #form-edit-product{
    position: absolute;
    top: 50px;
    z-index: 1;
    margin: 0px auto;
    margin-top: 80px;
    width: 80%;
    height: 35px;
    background-color: var(--color-Dark);
    border-radius: 20px;
    border: 2px solid var(--color-Green-Old);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
/*#form-edit-product input{
    background-color: var(--color-Dark);
    outline: none;
    border: none;
    width: 85%;
    height: auto;
    color: white;
    padding-left: 10px;
    border-radius: 20px;
} */
/* #form-edit-product i{
    width: 10%;
    height: auto;
    padding: auto;
    padding: 5.5px 0 7px 0;
    color: var(--color-Green);
} */
/* PARTE SUPERIOR */
.card{
    margin: auto;
    background-color: var(--color-Dark);
    width: 280px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    position: relative;
    margin: 20px auto;
}
.img-container{
    width: 100%;
    height: 320px;
    z-index: 0;
    position: relative;
    
}
/* .img-0{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: inherit;
} */
.img-1{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin: 32px 12px;
}
hr{
    width: 100%;
    border-color: var(--color-Green-Old);
}
/* PARTE INFERIOR */
.text-card{
    background-color: var(--color-Dark);
    border-radius: 0 0 20px 20px;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.description-card{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.mas{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color:var(--color-Green-Old);
    position: absolute;
    top: 10px;
    left: 15px;
}
#masp{
    display: none;
} 
#delete-product{
    position: relative;
    top: -400px;
    right: -220px;
    font-size: 40px;
    color: var(--color-Green-Old);
}
@media (min-width: 768px){
    .admin_user {
        background-image: url(/images/imgs-bg/teclado-original.jpg);
        
    }
    #container{
        margin-top: 30vh;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1024px){
    #container{
        gap: 20px 50px;
        width: auto;
    }
    #admin-welcome{
        top:20px
    }
} 
@media (min-width: 1086px){
    #container{
        margin-top: 10vh;
    }
    #admin-welcome{
        top: 120px;
    }
    #form-edit-product{
        margin-top: 120px;
    }
}
@media (min-width: 1320px){
    form{
        width: 50%;
    }
    #container{
        margin-top: 200px;
        grid-template-columns: repeat(3,1fr);
    }
    
}