.error__body{
    background-color: var(--black);
}

.error__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #00FF00;
    font-size: xx-large;
}