:root{
    /* COLORS */
    --green:#2EDD02;
    --black:#000000;
    --dark-grey:#242424;
    --grey:#363636;
    --white:#FFFFFF;

    --color-Green:#61ff01;
    --color-Green-Old: #2EDD02;
    --color-Dark:#242424;
    --color-Dark-Gray:#363636;


    /* FONTS */
    --font-Quicksand: 'Quicksand', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-Quicksand);
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--grey);
    width:100%;
    
}