@import url('/styles/style.css');


/* Background body */
.body__login {
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 33%;
    font-family: var(--font-Quicksand);
    text-align: center;
}

/* Title: Iniciar Sesión */
.login h1 {
    color: var(--green);
    font-size: 40px;
    margin: 15px;
    text-align: center;
    font-weight: 700;
}

/* form */
.login .form-container {
    background-color: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(4px);
    border: 2px solid var(--green);
    border-radius: 30px;
    /* max-width: 90%; */
    margin: 0 auto;
    max-width: 298px;
    padding-top: 15px;
}

.login .form-container .container-contact {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login .form-container .container-contact .email,
.login .form-container .container-contact .password {
    background-color: var(--grey);
    border: solid 2px #464646;
    border-radius: 10px;
    font-size: 15px;
    margin: 15px 0;
    padding: 10px 5px;
    text-align: initial;
    width: 85%;
    outline: none;
    font-weight: 600;
}
.login .email,
.login .password {
color: white;
}

.login .email:hover,
.login .password:hover {
    color: var(--green);  
}


/* Buttons: log in & create account */
.login .button-login {
    background-color: var(--dark-grey);
    border:solid 2px var(--green);
    border-radius: 27px;
    color: white;
    font-size:20px;
    font-weight: lighter;
    margin: 15px 0;
    padding: 10px 15px;
}
#remember_check{
    flex-direction: row; 
    color: white;
}
.login .button-login:hover {
    background-color: var(--green);
    color: black;
}

.login .pass__a,
.login .account__a {
    color: white;
    font-size: 15px;
    padding-bottom: 9px;
    text-decoration: none;
}

.login .pass__a:hover,
.login .account__a:hover {
    color: var(--green);
}

.login .button__create {
    background-color: var(--dark-grey);
    border:solid 2px var(--green);
    border-radius: 25px;
    color: white;
    font-size:12px;
    margin: 15px 0;
    padding: 10px;
    text-decoration: none;
}
.login .button__create:hover {
    background-color: var(--green);
    color: black;
}

/* social media buttons */
.networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-bottom: 30px
}

.networks .logo-face {
    position: relative;
    right: 8px;
}

.networks .logo-google {
    /* bottom: 42px; */
    position: relative;
    right: 12px;
    width: 32px;
}

.button-facebook {
    background-color: #2b4ca3;
    border:none;
    color: white;
    font-size:14px;
    font-weight: lighter;
    margin-top: 15px;
    padding: 12px 12px 12px 20px;
    position: relative;
}

.button-google {
    background-color: #2095e7;
    border:none;
    color: white;
    font-size:14px;
    font-weight: lighter;
    margin-top: 15px;
    padding: 11px 24px;
}



/* media queries Tablet */

@media (min-width:768px) {
    .login h1 {
        font-size: 48px;
        padding: 15px 0; 
    }
    
    .body__login .login .form-container {
        max-width:480px;
        /* max-width: 60%; */
    }
    .login .form-container .container-contact {
        padding-top: 8px;
    }
    
    .login .form-container .container-contact .email {
        font-size: 23px;
        margin-bottom: 15px;
    } 
    
    .login .form-container .container-contact .password {
        font-size: 23px;
        margin-bottom: 30px;
    }
    .login .button-login {
        border-radius: 40px;
        font-size:24px;
    }
    .login .pass__a,
    .login .account__a {
        font-size: 15px;
    } 
    /* social media buttons */
    .networks {
        flex-direction:row;
        justify-content:center;
        margin-left: 30px;
        margin-bottom: 50px;
        margin-top: 12px;
    }
    
    .login .networks .logo-face {
        bottom: 10px;
        right: 187px;
        margin-left: -15px;
    }

    .button-facebook {
        font-size: 12px;
        right: 27px;
        padding: 12px 14px 12px 21px
    }
    
    .button-google {
        font-size: 12px;
        position: relative;
        left: 0px;
    }
    
    .login .networks .logo-google {
        bottom: 10px;
        right: 203px;
        width: 32px;
    }
}






/* media queries Desktop */

@media (min-width:1024px) {
    .body__login{
        background-position-x:55%;
        background-size: cover;
    }

    .login h1 {
        margin-top: 90px;
    }

    .login .form-container {
        border-radius: 30px;
        width: 345px;
    }


    .login .form-container .container-contact .email {
        font-size: 20px;
        margin-bottom: 20px;
    } 

    .login .form-container .container-contact .password {
        font-size: 20px;        
    }
    .login .button-login {
        border-radius: 50px;
        font-size:23px;
    }

    .login .button-login:hover {
        background-color: var(--green);
        color: black;
    }

    .networks {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 50px
    }

    .button-facebook {
        font-size: 15px;
        right: 0;
        padding: 12px 12px 12px 19px;
    }
    
    .button-google {
        font-size: 15px;
        position: relative;
        left: 0px;
        padding: 11px 24px
    }
    
    .login .networks .logo-face {
        bottom: 10px;
        right: 8px;
        margin-left: -15px;
    }
    
    .login .networks .logo-google {
        bottom: 10px;
        right: 13px;
        width: 32px;
    }
}