@import url(./general.css);

/* CONTENEDOR */
#product-list {
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    
}
.container__product {
    /* background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  */

    display: grid;
    grid-template-columns: 1fr a 1fr;
    gap: 20px 0;
    padding-bottom: 60px;
    padding-top: 100px;
}
/* BARRA DE BUSQUEDA */
.form__product{
    margin: 20px auto;
    width: 80%;
    height: 35px;
    background-color: var(--color-Dark);
    border-radius: 20px;
    border: 2px solid var(--color-Green-Old);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form__product input{
    background-color: var(--color-Dark);
    outline: none;
    border: none;
    width: 85%;
    height: auto;
    color: var(--white);
    padding-left: 10px;
    border-radius: 20px;
}
.form__product i{
    width: 10%;
    height: auto;
    padding: auto;
    padding: 5.5px 0 7px 0;
    color: var(--color-Green);
}
/* PARTE SUPERIOR */
.container__product .card {
    margin: auto;
    background-color: var(--color-Dark);
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    position: relative;
    padding-bottom: 20px;
}

.container__product .card .img-container{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 320px;
    z-index: 0;
    position: relative;
}
.container__product .img-container .img-0{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: inherit;
}
.container__product .img-container .img-1{
    height: inherit;
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 10px;
    height: 85%;
    bottom: 10px;
}
.line__green{
    width: 100%;
    border:1px solid var(--color-Green-Old);
    padding: 0;
    margin: 0;
    opacity: 0.7;
}
/* PARTE INFERIOR */
.text-card{
    background-color: var(--color-Dark);
    border-radius: 0 0 20px 20px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    margin-top: 15px;
}

.name__card {
    font-size: 23px;
    font-weight: 600;
    margin-top: -5px;
}

.number__card {
    font-size: 23px;
    font-weight: 600;
    margin-top: -5px;

}

.description-card{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.mas{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color:var(--color-Green-Old);
    position: absolute;
    top: 10px;
    left: 15px;
}
.masp{
    display: none;
    color: aliceblue;
    font-family: var(--font-Quicksand);
    text-shadow: 10px 10px 5px black;
    font-size: 20px;
}
.carrito{
    text-shadow: 10px 10px 5px black;
} 
#form-comprar{
    margin: 0 auto;
}
.comprar{
    display: flex;
    align-items: center;
    background-color: var(--color-Green-Old);
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 0 15px;
    border-radius: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin: auto;
    box-shadow: 0px 0px 2px black;
}

/***********************************************/
/* Vista de result ante producto no encontrado */
.product-not-found {
    color: var(--color-Green);
    text-align: center;
    font-weight: 600;
    font-size: 29px;
    margin-top: 80px;
}
/***********************************************/


@media (min-width: 768px){
    .container__product{
        grid-template-columns: repeat(2,1fr);
    }
}

/***********************************************/
/* Vista de result ante producto no encontrado */
.product-not-found {
    position: absolute;
    font-size: 40px;
}
/***********************************************/

@media (min-width: 1024px){
    .form__product{
        width: 50%;
    }
    .container__product{
        grid-template-columns: repeat(3,1fr);
    }
    .mas:hover .masp{
        display: inline;
    }
    .masp{
        animation-name: masp;
        animation-duration: 1s;
    }
    @keyframes masp{
        0% {opacity: 0%;}
        100% {opacity: 100%;}
    }
    /***********************************************/
    /* Vista de result ante producto no encontrado */
    .product-not-found {
    font-size: 60px;   
    margin: 20%;
    margin-top: 250px;
    }
    /***********************************************/
}