.product__body {
    background-color: var(--black);
    background-image: url(/images/imgs-bg/bg-product-detail.svg);
    background-size: cover;
}

.product__main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.arrow__container {
    width: 100%;
}

#arrow {
    color: var(--green);
    font-size: 30px;
    margin: 10px;
}

.product__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.product__section img {
    background-image: url(/images/imgs-bg/bg-product.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    border: var(--green) 2px solid;
    border-radius: 20%;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.btn__detail .a__detail {
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--green);
    font-size: 45px;
    margin: 10px auto;
    padding: 0px 15px;
}

.container-r {
    width: 300px;
    color: var(--green);
}

.description {
    margin-top: 10px;
}


@media (min-width: 768px) {
    .product__section img {
        height: 380px;
        width: 380px;
    }
}
@media (min-width: 1024px) {
    .arrow__container {
        margin-top: 75px;
    }
    .product__section img {
        height: 500px;
        width: 500px;
    }
    .container-r {
        font-size: 20px;
    }
}