<div id="index">
    <a href="/administrador/agregar-producto">Agregar Producto</a>
    <a href="/administrador/admin-edit-product">Editar Producto</a>
    <a href="/administrador/admin-sell-stock">Ventas y Stock</a>
    <a href="/administrador/admin-users">Usuarios</a>
    <a href="/administrador/panel-general">Indice</a>
    <a id="cerrar-admin" href="">Cerrar Sesión</a>
</div>