<div id="index">
    <a href="/administrador/agregar-producto">Agregar Producto</a>
    <a href="/administrador/editar-producto">Editar Producto</a>
    <a href="/administrador/venta-y-stock">Ventas y Stock</a>
    <a href="/administrador/usuarios">Usuarios</a>
    <a href="/administrador/panel-general">Indice</a>
    <a id="cerrar-admin" href="">Cerrar Sesión</a>
</div>