<div id="sidebar">
    <i id="cross" class="fas fa-times"></i>

   
    <div id="admin-info">
        <div id="picture-admin">
            <img id="admin-pic" src="/images/imgs-users/<%= session.user.image %>" alt="admin-pic">
            <a href="/cuenta/editar-usuario">
                <i id="edit-admin" class="fas fa-pencil-alt"></i>
            </a>
        </div>
        <p id="admin-name"><%= session.user.first_name %> </p>
    </div>

    <div id="index">
        <a href="/administrador/panel-general">Indice</a>
        <a href="/administrador/marcas">Agregar Marca</a>
        <a href="/administrador/categorias">Agregar Categoría</a>
        <a href="/administrador/agregar-producto">Agregar Producto</a>
        <a href="/administrador/editar-producto">Editar Producto</a>
        <a href="/administrador/usuarios">Editar Usuario</a>
        <a href="/administrador/venta-y-stock">Ventas y Stock</a>
        <a href="/cuenta/cerrar-sesion">Cerrar Sesión</a>
    </div>

</div>

<!-- <i id="hamburguer-admin" class="fas fa-bars"></i> -->
