<div id="sidebar">
    <i id="cross" class="fas fa-times"></i>

    <div id="bar">

    </div>

    <div id="admin-info">
        <div id="picture-admin">
            <img id="admin-pic" src="/images/home/bg-2.png" alt="admin-pic">
            <a href="/administrador/editar-cuenta">
                <i id="edit-admin" class="fas fa-pencil-alt"></i>
            </a>
        </div>
        <p id="admin-name">Admin Nombre</p>
    </div>

    <div id="index">
        <a href="/administrador/agregar-producto">Agregar Producto</a>
        <a href="/administrador/editar-producto">Editar Producto</a>
        <a href="/administrador/categorias">Categorías</a>
        <a href="/administrador/marcas">Marcas</a>
        <a href="/administrador/usuarios">Usuarios</a>
        <a href="/administrador/venta-y-stock">Ventas y Stock</a>
        <a href="/administrador/panel-general">Indice</a>
        <a id="cerrar-admin" href="/cuenta/cerrar-sesion">Cerrar Sesión</a>
    </div>

</div>

<!-- <i id="hamburguer-admin" class="fas fa-bars"></i> -->
