<!-- footer -->
<footer class="footer">

    <div class="footer_container">
        <div class="logo-cont">
            <img class="logo" src="/images/imgs-logo/LOGO NeoTech.png" alt="">
        </div>

        <div class="icon-content">
            <div class="icon-bank">
                <img class="icon_footer" src="/images/icons/iconBank-visa.svg" alt="">
                <img class="icon_footer" src="/images/icons/iconBank-mastercard.svg" alt="">
                <img class="icon_footer" src="/images/icons/iconBank-mercado-pago.svg" alt="">
                <img class="icon_footer" src="/images/icons/iconBank-santander.svg" alt="">
            </div>

            <div class="icon-social">
                <img class="icon_footer" src="/images/icons/icon-a-whatsapp.gif" alt="">
                <img class="icon_footer" src="/images/icons/icon-a-twitter.gif" alt="">
                <img class="icon_footer" src="/images/icons/icon-a-facebook.gif" alt="">
                <img class="icon_footer" src="/images/icons/icon-a-instagram.gif" alt="">
            </div>

            <div class="footer-text">
                <a class="help" href="/contacto">Ayuda | </a>
                <a href="#">Sobre Nosotros | </a>
                <a href="#">Términos y Aviso de privacidad</a>
                <p>©Copyright 2021 NeoTech.</p>
                <p>Todos los derechos de autor reservados</p>
            </div>

            <!-- <div class="qr-code"> -->
                <img class="qr_img" src="/images/home/neotech-qr.png" alt="código QR Neotech">
            <!-- </div> -->
        </div>
    </div>

</footer>