<%- include('../partials/head.ejs') %>
<div class="cart__product__container">
    <div class="cart__content__img">
        <img src="" alt="">
    </div>

    <div class="contador__container">
        <button class="btn__mas">
            <!-- <i class="fa-solid fa-caret-up"></i> -->▲
        </button>
        <input class="product__contador" type="number">
        <button class="btn__menos">
            <!-- <i class="fa-solid fa-caret-down"></i> -->▼
        </button>
    </div>

    <div class="price__content">
        <p>$0000.00</p>
    </div>
    <button class="btn__delete-product">
        <!-- <i class="fa-solid fa-xmark"></i> -->x
    </button>


</div>