<header>
    <!-- logo -->
    <div class="logo-container">
        <img class="logo" src="/images/imgs-logo/LOGO NeoTech.png" alt="">
    </div>

    <div class="container">

        <div class="icon-bank">
            <img class="icon" src="/images/icons/iconBank-visa.svg" alt="">
            <img class="icon" src="/images/icons/iconBank-mastercard.svg" alt="">
            <img class="icon" src="/images/icons/iconBank-mercado-pago.svg" alt="">
            <img class="icon" src="/images/icons/iconBank-santander.svg" alt="">
        </div>

        <div class="icon-social">
            <img class="icon" src="/images/icons/icons8-whatsapp (1).gif" alt="">
            <img class="icon" src="/images/icons/icons8-twitter.gif" alt="">
            <img class="icon" src="/images/icons/icons8-facebook-rodeado-de-círculo.gif" alt="">
            <img class="icon" src="/images/icons/icons8-instagram.gif" alt="">
        </div>

    </div>

</header>