<header class="header">
    <!-- logo -->
    <div class="logo-container">
        <img class="logo" src="/images/imgs-logo/LOGO NeoTech.png" alt="">
    </div>

    <div class="container">

        <div class="icon-bank">
            <img class="icon_header" src="/images/icons/iconBank-visa.svg" alt="">
            <img class="icon_header" src="/images/icons/iconBank-mastercard.svg" alt="">
            <img class="icon_header" src="/images/icons/iconBank-mercado-pago.svg" alt="">
            <img class="icon_header" src="/images/icons/iconBank-santander.svg" alt="">
        </div>

        <div class="icon-social">
            <img class="icon_header" src="/images/icons/icon-a-whatsapp.gif" alt="">
            <img class="icon_header" src="/images/icons/icon-a-twitter.gif" alt="">
            <a target="_blank" href="https://www.facebook.com/mangekyo.reparaciondepc">
                <img class="icon_header" src="/images/icons/icon-a-facebook.gif" alt="">
            </a>
            <a target="_blank" href="https://www.instagram.com/_neo_tech_/">
                <img class="icon_header" src="/images/icons/icon-a-instagram.gif" alt="">
            </a>
        </div>

    </div>

</header>