<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- font awesome -->
      <script src="https://kit.fontawesome.com/d7f2d4eb0a.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
      <!-- CSS -->
      <link rel="stylesheet" href="../../../styles/general.css">
      <link rel="stylesheet" href="/styles/styles.css">
      <!-- ICONO DE PESTAÑA -->
     <link rel="icon" href="/images/imgs-logo/LOGO NeoTech.ico">
      <!-- CSS ADMIN-->
      <link rel="stylesheet" href="../../../styles/admin-panel.css">
      <link rel="stylesheet" href="../../../styles/nav.css">
      <link rel="stylesheet" href="../../../styles/footer.css">
      <link rel="stylesheet" href="../../../styles/category-and-brand.css">
    <title><%= title %></title>