.admin__sell {
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#admin-welcome{
    position: absolute;
    top: 100px;
}
#numbers-admin{
    color: var(--white);
    background-image: url();
    width: 100%;
    height: 90%;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
}
@media(min-width:1024px){
    #admin-welcome{
        top: 25px;
    }
    #numbers-admin{
        margin-top: 40px;
        width: 80%;
    }
}