.admin__add__product{
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 33%; 
    background-position-x: 50%;
    /* background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 33%; */
}

#admin-welcome{
    position: absolute;
    top: 105px;
}
#container-form{
    width: 90%;
    margin-top: 0;
}

/* previev image */
.img-container {
    text-align: center;
}
.img-container img {
    max-width: 30%;
    max-height: 30%;
}

/* button update image */
.userUpdate_subtitle {
    color: var(--green);
    margin: 0;
}

.input-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    color: var(--primary);
    padding: 0 1rem;
    border-radius: .5rem;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-top: 5px;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.btn__update__image .inputFile {
    width: 90%;
    height: 20px;
}

.btn__update__image {
    background-color: var(--dark-grey);
    border: solid 2px var(--green);
    border-radius: 12px;
    font-size:14px;
    /* margin-bottom: 10px; */
    margin-bottom: 0px;
    padding: 5px 0px;
    width: 96%;
    text-align: center;
}
#categorias-select{
    font-size: 20px;
    color: var(--white);
    background-color: var(--color-Dark);
    border:solid 2px var(--color-Green);
    width: 99%;
    margin: 10px 0;
}

#form-add{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-Green);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.582);
    /* margin-top: 15px; */
    margin-top: 70px;
}
#form-add input{
    padding: 10px 10px;
    margin: 5px 0;
    background-color: var(--color-Dark);
    border-radius: 8px;
    border: 2px solid #464646;
    color: white;
    outline: none;
}
#form-add .submit{
    border: 2px solid var(--color-Green);
    padding: 12px 0px;
    border-radius: 20px;
    font-size: 18px;
    width: 120px;
    margin: 5px auto;
}
.submit:active{
    background-color: var(--color-Green);
    color: black;
}
#form-add input:focus{
    border: 1px solid var(--color-Green);
}

#description{
    height: 80px;
}
#form-add ::placeholder{
    font-size: 20px;
}
#label-categoria{
    color: var(--white);
    padding-left: 3px;
}
#categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -5px;
}
#marcas{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;

    
}
@media (min-width: 768px){
    .admin__add__product{        
        background-size: cover;
    }
    #container-form{
        max-width: 450px;
        margin-top: 45px;
    }
    /* previev image */
    .img-container img {
        max-width: 25%;
        max-height: 25%;
    }
    .input-file .input {
        width: 90%;
        height: 65%;
    }
    /* ////////////// */
    #categorias-select{
        font-size: 20px;
    }
    .btn__update__image {
        font-size:22px;
    }
    #admin-welcome{
        top: 110px;       
    }
}
@media (min-width: 1024px){
    #container-form {
        max-width: 60%;
        margin-top: -50px;
    }
    /* previev image */
    .img-container img {
        max-width: 18%;
        max-height: 18%;
    }
    .btn__update__image {
        font-size:18px;
    }
    .input-file {
        margin-top: 10px;
    }
    .admin__add__product{
        background-repeat: no-repeat;
        background-position: 70px;
        background-size: 85%;
        background-size: cover;
    }
    #form-add ::placeholder{
        font-size: 30px;
    }
    #form-add input{
        height: 60px;
    }
    #form-add .btn__update__image .inputFile {
        width: 90%;
        height: 20px;
    }
    #label-categoria{
        font-size: 30px
    }
    #categorias-select{
        font-size: 30px;
        color: var(--white);
        background-color: var(--color-Dark);
        border-color: var(--color-Green);
        width: 99%;
        margin: 10px 0;
    }
    input #description{
        height: 1000px;
    }
    #admin-welcome{
        top: 5px;
    }
}