@import url("/stylesheets/style.css");



/* Background body */
.body__register {
    background-image: url(/images/imgs-bg/teclado-original.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 33%;
    font-family:var(--font-Quicksand);
    text-align: center;
}

/* Title: Iniciar Sesión */
#registro h1 {
    color: var(--green);
    font-size: 40px;
    margin: 15px;
    text-align: center;
    font-weight: 700;
}

/* form */
#registro .register__form {
    background-color: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(4px);
    border: 2px solid var(--green);
    border-radius: 30px;
    margin: 0 auto;
    max-width: 298px;
    /* max-width: 90%; */
    padding-top: 15px;
}

#registro .register__form .register__container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#registro .register__form .register__container .text, 
#registro .register__form .register__container .email, 
#registro .register__form .register__container .password {
    border: solid 2px #464646;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 14px;
    padding: 12px 5px;
    text-align: initial;
    width: 85%;
    outline: none;
    font-weight: 600;
} 

#registro .register__form .register__container .repeatPassword {
    margin-bottom: 10px;
    
} 
#registro input {
    display: block;
    padding: 10px 50px;
    margin: 15px 0;
    background-color: var(--grey);
    border-radius: 8px;
    border: 2px solid black;
    color: white;
}
.register__container a{
    color: white;
    font-size: 15px;
    padding-bottom: 9px;
    text-decoration: none;
}
#registro input:hover {
    color: var(--green);   
}


/* Buttons: log in & create account */
#registro .button-register {
    background-color: var(--dark-grey);
    border-color: var(--green);
    border-radius: 27px;
    color: white;
    font-size:20px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 9px 16px;
}

#registro .button-register:hover {
    background-color: var(--green);
    color: black;
}

#registro form .container a {
    color: white;
    font-size: 15px;
    padding-bottom: 9px;
    text-decoration: none;
}

#registro form .container a:hover{
    color: var(--green);
}


/* social media buttons */
#registro .networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-bottom: 30px
}

#registro .networks .logo-face {
    /* bottom: 40px; */
    position: relative;
    /* right: 78px; */
    right: 8px;
}

#registro .networks .logo-google {
    position: relative;
    right: 12px;
    width: 32px;
}

#registro .button-facebook {
     background-color: #2b4ca3;
     border:none;
     color: white;
     font-size:14px;
     font-weight: lighter;
     margin-top: 15px;
     padding: 12px 12px 12px 20px;
     position: relative;
}

#registro .button-google {
    background-color: #2095e7;
    border:none;
    color: white;
    font-size:14px;
    font-weight: lighter;
    margin-top: 15px;
    padding: 11px 24px;
}

.log_in {
    color: white;
    margin-top: 12px;
    margin-bottom: -8px;
}

.log_in_link {
    text-decoration: none;
    color: var(--green);
}

.log_in_link:hover {
    color: var(--green);
    font-weight: 800;
}





/* media queries Tablet */

@media (min-width:768px) {
    #registro h1 {
        font-size: 48px;
        padding-top: 15px 0;
    }
    
    #registro .register__form {
        max-width:470px;
    }
    #registro .register__form .container {
        padding-top: 8px;
    }
    
    #registro .register__form .container .text {
        font-size: 23px;
        margin-bottom: 15px;
    } 
    #registro .register__form  .container .email {
        font-size: 23px;
        margin-bottom: 30px;
    } 
    
    #registro .register__form  .container .password {
        font-size: 23px;
        margin-bottom: 30px;
    }
    #registro .button-register {
        border-radius: 40px;
        font-size:24px;
        margin-top: 10px;
    }
    
    /* social media buttons */
    #registro .networks {
        flex-direction:row;
        justify-content: center;
        margin-left: 30px;
        margin-bottom: 50px;
        margin-top: 12px;

    }
    
    #registro .networks .logo-face {
        bottom: 10px;
        right: 187px;
        margin-left: -15px;
    }
    
    #registro .networks .logo-google {
        bottom: 10px;
        right: 203px;
        width: 32px;
    }
}






/* media queries Desktop */

@media (min-width:1024px) {
    .body__register {
        background-position-x:55%;
        background-size: cover;
    }

    #registro h1 {
        margin-top: 115px;

    }

    #registro .register__form {
        border-radius: 30px;
        width: 370px;
        margin-top: 30px;
    }

    #registro .register__form .container .text {
        font-size: 20px;
        margin-bottom: 20px;
    } 
    #registro .register__form .container .email {
        font-size: 20px;
        margin-bottom: 20px;
    } 

    #registro .register__form .container .password {
        font-size: 20px;        
    }
    #registro .button-register {
        border-radius: 50px;
        font-size:20px;
    }

    #registro .button-register:hover {
        background-color: var(--green);
        color: black;
    }


    #registro .networks {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 50px
    }
    
    
    #registro .networks .logo-face {
        bottom: 10px;
        right: 8px;
        margin-left: -15px;
    }
    
    #registro .networks .logo-google {
        bottom: 10px;
        right: 13px;
        width: 32px;
    }
}