<header class="header">
    <div class="header__container">
        
        <!-- logo -->
        <div class="logo-container">
            <a href="/"><img class="logo" src="/images/imgs-logo/LOGO NeoTech.png" alt=""></a> 
        </div>
        
        <!-- BARRA DE BUSQUEDA -->
        <div class="search__bar">
            <button class="btn__voice__record" id="btn__voice__record">
                <i class="fas fa-microphone"></i>
            </button>
            <form action="/administrador/resultados" class="search" method="GET">
                <button class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" name="keywords" class="input__search" placeholder="busqueda">
            </form>
            </form>
            
        </div>  
       
            
            <nav>
            <div class="nav-container">
        
                <!-- MENU HAMBURGUESA -->

                <span class="burguer-menu" id="hamburguer-admin"><i class="fas fa-bars"></i></span>
        
            </div> <!-- cierre nav-container -->
        
        </nav>
    </div>
        
</header>
