<nav>
    <div class="nav-container">

        
        <!-- MENU HAMBURGUESA -->
        <span class="burguer-menu" id="hamburguer-admin"><i class="fas fa-bars"></i></span>

        <!-- BARRA DE BUSQUEDA -->
        <div class="search__bar">
            <form action="/administrador/resultados" class="search" method="GET">
                <button class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" name="keywords" class="input__search" placeholder="busqueda">
            </form>
        </div>

        <!-- LOGO DEL NAV -->

        <div class="logo-nav-container">
            <a href="/"><img class="logoNT" src="/images/imgs-logo/NT CHICO.svg" alt=""></a>
        </div>

       
    </div> <!-- cierre nav-container -->
</nav>