<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- font awesome -->
      <script src="https://kit.fontawesome.com/d7f2d4eb0a.js" crossorigin="anonymous"></script>
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
      <!-- CSS -->
      <link rel="stylesheet" href="/stylesheets/variables-border.css">
      <!-- CSS ADMIN-->
      <link rel="stylesheet" href="/stylesheets/admin-panel.css">
      <link rel="stylesheet" href="/stylesheets/admin-edit-product-form.css">
      <link rel="stylesheet" href="/stylesheets/nav.css">
    <title>Admin Edit Product Form</title>
</head>
<body>
    
    <%- include("../partials/nav") -%>

    
    <div id="container-admin">

            <%- include("../partials/aside-admin") -%>
            

        <main id="content">
            <p id="admin-welcome">
                Admin Edit Product Form
            </p>

            <div id="container-form">         

                <form id="form-add" action="/registro" method="POST">
        
                    <input type="file" id="t-file">
        
                    <input type="email" name="" id="" placeholder="Nombre">
        
                    <input type="password" name="" id="" placeholder="Precio"> 
        
                    <input type="text" name="" id="description" placeholder="Descripción">

                    <input class="submit" type="submit" value="Guardar">
               
                </form>
        
            </div>

        </main>

    </div>
<!-- JS -->
<script src="/js/admin-panel.js"></script>
<!-- JS CARRITO-->
<script src="/js/carrito.js"></script>
<!-- JS NAV  -->
<Script src="/js/nav.js" > </Script>
</body>
</html>