<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head-admin") -%>

    <link rel="stylesheet" href="../../../styles/admin-edit-product.css">
</head>
<body>
    
    <%- include("../partials/nav") -%>

    
    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">
            <p id="admin-welcome">
                Admin Edit Product
            </p>

            <form id="form-edit-product" action="" method="">
                <input type="search" placeholder="Buscar producto"><i class="fas fa-search"></i>
            </form>

            <main id="container">
        
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>
        
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        <h2 class="number-card">$000</h2>
                        <p class="description-card">lorem ipsum dolor</p>

                        <a class="mas" href="/admin-edit-product-form"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>

                
                
            </main>

        </main>

    </div>
<!-- JS -->
<script src="/js/admin-panel.js"></script>
<!-- JS CARRITO-->
<script src="/js/carrito.js"></script>
<!-- JS NAV  -->
<Script src="/js/nav.js" > </Script>
</body>
</html>